body {
  margin: auto;
  min-height: 100%;
  width: 320px;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding: 0;
  background-color: white;
}

@font-face {
  font-family: "oswald";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/oswald/oswaldregular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lato/Lato-Regular.woff2) format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header__logo-picture {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 18px;
}
.main-header__logo-picture:hover {
  opacity: 80%;
}
.main-header__logo-picture:active {
  opacity: 60%;
}

.main-header__logo-text {
  display: block;
  margin-left: 57px;
  margin-right: 65px;
}
.main-header__logo-text:hover {
  opacity: 80%;
}
.main-header__logo-text:active {
  opacity: 60%;
}

.main-nav__toogle {
  background-image: url("../../img/icons/header-button.png");
  background-color: white;
  background-repeat: no-repeat;
  width: 24px;
  height: 16px;
  border: 0;
  background-size: contain;
}

.main-nav__wrapper {
  display: flex;
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.main-nav-list__link {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  font-size: 20px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.choose-program__wrapper {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/backgrounds/choose-program_bg2.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-program__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 10px;
}

.choose-program__intro {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 164px;
  position: relative;
}
.choose-program__intro:after {
  background-image: url("../../img/backgrounds/choose-program_bg1.jpg");
  position: absolute;
  z-index: 1;
  width: 280px;
  height: 270px;
  left: -50px;
  top: 43px;
  content: "";
}

.choose-program__button-wrapper {
  margin-top: 135px;
  display: flex;
  justify-content: center;
}

.choose-program__button {
  width: 280px;
}

.primary-button {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 14px;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  text-decoration: none;
}

.loose-weight {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  width: 280px;
}

.loose-weight__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: black;
  margin-left: 91px;
  position: relative;
}
.loose-weight__title:after {
  background-image: url("../../img/icons/loose-weight.png");
  position: absolute;
  width: 50px;
  height: 53px;
  content: "";
  z-index: 1;
  top: -5px;
  left: -70px;
}

.loose-weight__intro {
  margin-left: 20px;
  margin-right: 33px;
}

.loose-weight__link {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: black;
  margin-left: 20px;
}

.weight-gain {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  width: 280px;
}

.weight-gain__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: black;
  margin-left: 91px;
  position: relative;
}
.weight-gain__title:after {
  background-image: url("../../img/icons/weight-gain.svg");
  position: absolute;
  width: 67px;
  height: 50px;
  content: "";
  z-index: 1;
  top: -5px;
  left: -70px;
}

.weight-gain__intro {
  margin-left: 20px;
  margin-right: 33px;
}

.weight-gain__link {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: black;
  margin-left: 20px;
}

.how-it-works__wrapper {
  margin-left: 20px;
  width: 280px;
}

.how-it-works__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 36px;
  line-height: 40px;
  color: black;
}

.how-it-works-list {
  list-style: none;
}

.how-it-works-list__item {
  margin-left: 40px;
  margin-bottom: 26px;
  position: relative;
}
.how-it-works-list__item:after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: absolute;
  top: 0;
  left: -80px;
}

.example__wrapper {
  width: 320px;
  background-color: #eaeaea;
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 36px;
  line-height: 40px;
  color: black;
}

.example__list {
  display: flex;
}

.example__item {
  margin: 0;
  position: relative;
}

.example__number {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 24px;
  line-height: 24px;
  color: black;
  margin-left: 62px;
}

.example__description {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin-left: 55px;
}

.example__cost {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.partnership__wrapper {
  width: 320px;
}

.partnership__text-partnership {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.partnership__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}

.partnership__adress {
  line-height: 20px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__socials-link {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.main-footer__academy-link {
  display: flex;
  width: 280px;
  justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */