.additional-goods {
  display: flex;
  flex-direction: column;
}

.additional-goods__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 16px;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;
}

.additional-goods__features {
  display: flex;
  justify-content: space-between;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 14px;
  color: rgba(68, 68, 68, 1);
}

.additional-goods__promo {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../img/backgrounds/additional-goods__promo.png");
    height: 329px;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  text-align: center;
}

.additional-goods__promo-text {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}
