.how-it-works-list {
  list-style: none;
}

.how-it-works-list__item {
  margin-left: 40px;
  margin-bottom: 26px;
  position: relative;

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: rgba(104, 183, 56, 1);
    position: absolute;
    top: 0;
    left: -80px;
  }
}

@media (min-width: $tablet-width) {
  .how-it-works-list {
    display: grid;
    grid-template-rows: 280px 280px;
    grid-template-columns: 230px 230px;
    column-gap: 153px;
    row-gap: 37px;
  }

  .how-it-works-list__item {
    margin-left: 0;
    margin-bottom: 0;
    position: relative;
  }
}

.how-it-works-list__item--leaf {
  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgba(104, 183, 56, 1);
    background-image: url("../../img/icons/icon-leaf.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -80px;
  }

  &::before {
    content: "";
    width: 136px;
    height: 280px;
    background-image: url("../../img/icons/1.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: -1;
  }
}

.how-it-works-list__item--powder {
  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgba(104, 183, 56, 1);
    background-image: url("../../img/icons/icon-powder.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -80px;
  }

  &::before {
    content: "";
    width: 136px;
    height: 280px;
    background-image: url("../../img/icons/2.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: -1;
  }
}

.how-it-works-list__item--eat {
  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgba(104, 183, 56, 1);
    background-image: url("../../img/icons/icon-eat.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -80px;
  }

  &::before {
    content: "";
    width: 136px;
    height: 280px;
    background-image: url("../../img/icons/3.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: -1;
  }
}

.how-it-works-list__item--clock {
  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgba(104, 183, 56, 1);
    background-image: url("../../img/icons/icon-clock.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -80px;
  }

  &::before {
    content: "";
    width: 136px;
    height: 280px;
    background-image: url("../../img/icons/4.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 80px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .how-it-works-list {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 246px;
    column-gap: 79px;
    row-gap: 0;
  }

  .how-it-works-list__item {
    margin-left: 0;
    margin-bottom: 0;
    position: relative;
    max-width: 245px;
  }

  .how-it-works-list__item--leaf {
    &::after {
      content: "";
      width: 80px;
      height: 80px;
      background-color: rgba(104, 183, 56, 1);
      background-image: url("../../img/icons/icon-leaf.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -80px;
    }

    &::before {
      content: "";
      width: 136px;
      height: 280px;
      background-image: url("../../img/icons/1.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 80px;
      z-index: -1;
    }
  }

  .how-it-works-list__item--powder {
    &::after {
      content: "";
      width: 80px;
      height: 80px;
      background-color: rgba(104, 183, 56, 1);
      background-image: url("../../img/icons/icon-powder.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -80px;
    }

    &::before {
      content: "";
      width: 136px;
      height: 280px;
      background-image: url("../../img/icons/2.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 80px;
      z-index: -1;
    }
  }

  .how-it-works-list__item--eat {
    &::after {
      content: "";
      width: 80px;
      height: 80px;
      background-color: rgba(104, 183, 56, 1);
      background-image: url("../../img/icons/icon-eat.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -80px;
    }

    &::before {
      content: "";
      width: 136px;
      height: 280px;
      background-image: url("../../img/icons/3.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 80px;
      z-index: -1;
    }
  }

  .how-it-works-list__item--clock {
    &::after {
      content: "";
      width: 80px;
      height: 80px;
      background-color: rgba(104, 183, 56, 1);
      background-image: url("../../img/icons/icon-clock.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -80px;
    }

    &::before {
      content: "";
      width: 136px;
      height: 280px;
      background-image: url("../../img/icons/4.svg");
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 80px;
      z-index: -1;
    }
  }
}
