.partnership__wrapper {
  width: 320px;
}

.partnership__text-partnership {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.partnership__title {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.partnership__adress {
  line-height: 20px;
}

