.secondary-button {

  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 14px;
  color: rgba(68, 68, 68, 1);
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
  text-decoration: none;
  display: block;
}
